In [1]:
import keyword

print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
print (len(keyword.kwlist))

35

In [3]:
1x = 10                    #starting wiht digit error in identifier

SyntaxError: invalid syntax (<ipython-input-3-d2dd69b23a0d>, line 1)

In [14]:
x1 = 10
print (x1)

10

In [15]:
x! = 10                        #special character error in identifier
print (x!)

SyntaxError: invalid syntax (<ipython-input-15-4971032d01f4>, line 1)

In [16]:
yield = 10                         # keyword error in identifier
print (yield)

SyntaxError: invalid syntax (<ipython-input-16-8cb59efc1198>, line 1)

In [17]:
# correct identifiers

x =10
print (x)

x1 =10
print (x1)

x_1 = 10
print (x_1)

10
10
10

In [18]:
def square(num):
    return num*num

print (square(20))

400

In [19]:
print (square.__doc__)                # to print docstring of a function use the __doc__attribute of a function

None

In [20]:
square              # press shift+tab to view docstring

In [21]:
var1 = 10                              #illogoical identation
    var2 = 20

IndentationError: unexpected indent (<ipython-input-21-f2dc8e38701b>, line 2)

In [22]:
var1 = 10                 # logical identation without 4 whitespaces
var2 = 20

In [23]:
for i in range(1, 5):
    print (i)
    print (i+1)               # 2nd print also came under this for loop

1
2
2
3
3
4
4
5

In [24]:
for i in range(1, 5):
    print (i)
print ("back to original")              #whereas block will be over after 1st print option

1
2
3
4
back to original

In [25]:
number = 10           #single line statement

In [26]:
number = 10 + 20 + \            # multiline statment with continuation character "\" backslash
         30 + 40 

print (number)

SyntaxError: unexpected character after line continuation character (<ipython-input-26-6905cc8285a3>, line 1)

In [27]:
number = (10 + 20 +            # multiline statment with continuation character "( )" open and close brackets
         30 + 40 +
         50)

print (number)

150

In [28]:
# Variable Assignment

Intnum = 10
floatnum = 10.5
stringval = "Gaurav"

print (Intnum, floatnum, stringval)

10 10.5 Gaurav

In [29]:
# Multiple assignment

Intnum, floatnum, stringval = 10, 10.5, "Gaurav"

print (Intnum, floatnum, stringval)

10 10.5 Gaurav

In [30]:
# Same value assigned to variable

Intnum = floatnum = stringval = 10

print (Intnum, floatnum, stringval)

10 10 10

In [31]:
# find out ID of stroage location

print (id(Intnum))
print (id(floatnum))
print (id(stringval))   # all three are coming same bcz of same value assigned to all three

140719109149792
140719109149792
140719109149792

In [32]:
Intnum, floatnum, stringval = 10, 10.5, "Gaurav"

print (Intnum, floatnum, stringval)

10 10.5 Gaurav

In [33]:
# find out ID of stroage location when different values assigned to all three variables

print (id(Intnum))
print (id(floatnum))
print (id(stringval))

140719109149792
2011774547648
2011775823128

In [34]:
var1 = 20                                        #integer data type
print (var1, "is type of", type(var1))

20 is type of <class 'int'>

In [35]:
var2 = 20.5                                        #floating number data type
print (var2, "is type of", type(var2))

20.5 is type of <class 'float'>

In [36]:
var3 = 20 + 2j                                      #complex data type
print (var3, "is type of", type(var3))

(20+2j) is type of <class 'complex'>

In [4]:
var4 = False                                       # boolean value class (true or false)
print (var4, "is type of", type(var4))

False is type of <class 'bool'>

In [37]:
print ("Is", var3, "type of class complex ?", isinstance (var3, complex))        # use of isinstance to check boolean value

Is (20+2j) type of class complex ? True

In [38]:
print ("Is", var3, "type of class complex ?", isinstance (var3, int))           # use of isinstance to check boolean value

Is (20+2j) type of class complex ? False

### Python strings

In [39]:
strval = 'Gaurav worked with Unilever for 4 years and 8 months'

print ("string variable is :", strval)

string variable is : Gaurav worked with Unilever for 4 years and 8 months

In [40]:
# slicing in python strings and Ist character starts from index [0]

print (strval[0])               # getting ist character

print (strval[0:10])            # getting ist 9 characters

print (strval[:10])            # getting ist 9 characters

print (strval[10:])            # getting all characters except ist 9

print (strval[-1:])            # getting last character

print (strval[:-1])            # getting all characters except last one

G
Gaurav wor
Gaurav wor
ked with Unilever for 4 years and 8 months
s
Gaurav worked with Unilever for 4 years and 8 month

### Python list

In [41]:
list1 = [1, 3, 5, 'gaurav', 8, 9.4, 'prayank']
print (list1)

[1, 3, 5, 'gaurav', 8, 9.4, 'prayank']

In [42]:
# accessing 4th element from list

print (list1[3])

gaurav

In [43]:
print (list1 [4:7])   #accessing 4th to 7th element

[8, 9.4, 'prayank']

In [44]:
#adding an element in exisiting list

list1.append(5)
print(list1)

[1, 3, 5, 'gaurav', 8, 9.4, 'prayank', 5]

In [45]:
list1.remove(8)

In [46]:
list1.pop(2)

5

In [47]:
list1[3] = 'shruti'

print (list1)

[1, 3, 'gaurav', 'shruti', 'prayank', 5]

In [48]:
list1.clear()

In [49]:
list1.insert(3, 'batra')
print (list1)

['batra']

In [50]:
list1.reverse()

print (list1)

['batra']

In [51]:
print (list1)

['batra']

### Python Tuples

In [52]:
tuple1 = (1, 3, 'gaurav', 'batra', 'shruti', 'prayank', 5)

print (tuple1)

print (type(tuple1))

(1, 3, 'gaurav', 'batra', 'shruti', 'prayank', 5)
<class 'tuple'>

In [53]:
print (tuple1[4])

print (tuple1[0:3])

shruti
(1, 3, 'gaurav')

### Python sets

In [54]:
set1 = {10, 20, 50, 30, 20, 10}

print (set1)

print (type(set1))         #only unique values will come as remove duplicates automatically

{10, 20, 50, 30}
<class 'set'>

In [55]:
print (set1[0:3])                # unorder sequence collection so indexing doesn't work with sets

TypeError: 'set' object is not subscriptable

### Python Dictionary

In [56]:
dict1 = {"Gaurav": "14/09/1989", "sharuti" : "25/10/1989", "Prayank" : "01/07/2019"}

print (dict1)

print (type(dict1))

print (dict1 ["Prayank"])                #get prayank's DOB value

{'Gaurav': '14/09/1989', 'sharuti': '25/10/1989', 'Prayank': '01/07/2019'}
<class 'dict'>
01/07/2019

In [57]:
dict1 ["meenu"] = ["22/02/1992"]                    #addition of key

print(dict1)

{'Gaurav': '14/09/1989', 'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': ['22/02/1992']}

In [58]:
dict1["Gaurav"] = ["14/09/89"]                      #updation of particular key

print (dict1)

{'Gaurav': ['14/09/89'], 'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': ['22/02/1992']}

In [59]:
dict1 = {'Gaurav': '14/09/1989', 'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': '22/02/1992'}
print (dict1)

{'Gaurav': '14/09/1989', 'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': '22/02/1992'}

In [60]:
del dict1["Gaurav"]

print (dict1)

{'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': '22/02/1992'}

## Conversion B/w Datatypes

In [61]:
int ('11.2')               #floating value under string so error thrown

ValueError: invalid literal for int() with base 10: '11.2'

In [62]:
int (11.2)   #float to int

11

In [5]:
p = "212" 

q= p.isdigit()
print (q)

True

In [63]:
float (11)               #int to float

11.0

In [64]:
int ("5")                 #string to int

5

In [65]:
int ('string')             #string is having characters so will throw error

ValueError: invalid literal for int() with base 10: 'string'

In [66]:
strng = "Gaurav" + 1989 + "Batra"

print (strng)

TypeError: can only concatenate str (not "int") to str

In [67]:
strng = "Gaurav" + str(1989) + "Batra"

print (strng)                #now 1989 changed into string

Gaurav1989Batra

In [68]:
# List to set

list4 = [10, 23, 45, 56, 45, 10]
print (list4)
print (type(list4))


set4 = set(list4)
print (set4)
print (type(set4))

[10, 23, 45, 56, 45, 10]
<class 'list'>
{56, 10, 45, 23}
<class 'set'>

In [69]:
# string to list

strng = "gaurav batra"
print (strng)
print (type(strng))

strngtolist = list(strng)
print (strngtolist)
print (type(strngtolist))

gaurav batra
<class 'str'>
['g', 'a', 'u', 'r', 'a', 'v', ' ', 'b', 'a', 't', 'r', 'a']
<class 'list'>

In [70]:
# Set to list

set5 = {10, 23, 45, 56, 45, 10}
print (set5)
print (type(set5))


list5 = list(set5)
print (list5)
print (type(list5))

{56, 10, 45, 23}
<class 'set'>
[56, 10, 45, 23]
<class 'list'>

### Python Output

In [71]:
print ("for getting python output, use Print function")

for getting python output, use Print function

In [72]:
int1 = 140989

print ("my DOB is", int1)                    #in a simple way

my DOB is 140989

In [73]:
int1 = 140989

print ("my DOB is" + str(int1))             #converting int into string and then concatenate 

#as output will come with one space less in between is and DOB

my DOB is140989

### Output Formatting

In [6]:
# using of str.format() method for showing output in more attractive way

intnum1 = 400                   

intnum2 = 1600

print("intnum1 : {} is one forth of intnum2 : {}".format (intnum1, intnum2))

intnum1 : 400 is one forth of intnum2 : 1600

In [7]:
# changing position in string without chaging format, use of indexing

print("intnum2 : {1} is four times of intnum1 : {0}".format (intnum1, intnum2))

intnum2 : 1600 is four times of intnum1 : 400

In [8]:
# use of keywords argument to format string

print ("I travelled to {place} in the month of {month} and weather conditions were like as {weather}".format(place= 'mumbai', weather ='summer', month = 'november'))

I travelled to mumbai in the month of november and weather conditions were like as summer

In [9]:
# combination of positional arguments and keyword arguments

print ("I travelled to {0} in the month of {month} and weather conditions were like as {1}".format('mumbai', 'summer', month = 'november'))

I travelled to mumbai in the month of november and weather conditions were like as summer

In [10]:
# show signs

print ("{:+f}, {:+f}". format(5.15, 5.15))

print ("{:+f}, {:-f}". format(5.15, -5.15))

print ("{:f}, {:-f}". format(-5.15, 5.15))

print ("{:f}, {:f}". format(5.15, 5.15))

+5.150000, +5.150000
+5.150000, -5.150000
-5.150000, 5.150000
5.150000, 5.150000

### Python Input

In [11]:
inputdata = input("how many marks achieved in JEE exam out of 1000? :")

print("you typed in: ", inputdata)

print ("type of user input data: ", type(inputdata))

how many marks achieved in JEE exam out of 1000? :960
you typed in:  960
type of user input data:  <class 'str'>

In [13]:
marks = int(inputdata)

print("you typed in: ", inputdata)

print ("type of user input data: ", type(marks))

you typed in:  960
type of user input data:  <class 'int'>

## Operators

### Arithematic operator

In [4]:
var1, var2 = 7, 4

print (var1 + var2)      #addition (+)

print (var1 - var2)      #subtraction (+)

print (var1 * var2)      #multiplication (*)

print (var1 / var2)      #division (/)

print (var1 % var2)      #modulus (%)

print (var1 // var2)      #floor division (//)                    # vale comes to be nearest smallest integer 

print (var1 ** var2)      #expoenent or power (**)

11
3
28
1.75
3
1
2401

### Comparison operator

In [7]:
var1, var2 = 7, 4

print (var1 > var2)      #one is greater than other (>)

print (var1 < var2)      #one is lesser than other (<)

print (var1 == var2)      #one is euqal to other (==)

print (var1 != var2)      #one is not euqal to other (!=)

print (var1 >= var2)      #one is greater than and equal to other (>=)

print (var1 <= var2)      #one is smaller than and equal to other (<=)


var3, var4 = 7, 7

print (var3 >= var4)      #one is greater than and equal to other (>=)

print (var3 <= var4)      #one is smaller than and equal to other (<=)

True
False
False
True
True
False
True
True

### Logical Operator

In [8]:
log1, log2 = True, False

print (log1 and log2)        # and operator

#0 0 0
#0 1 0
#1 0 0
#1 1 1

print (log1 or log2)        # or operator

#0 0 0
#0 1 1
#1 0 1
#1 1 1

print (not log1)           # not operator

print (not log2)

False
True
False
True

### Bitwise Operator

In [14]:
bit1, bit2 = 7, 5                                # 7 = 0000 0111, 5 = 0000 0101

print (bit1 & bit2)       # and operator

print (bit1 | bit2)       # or operator

print (~ bit2)       # not operator

print (~ bit1)       # not operator

print (bit2 >>2)       # rightshift operator

print (bit2 <<2)       # leftshift operator

print (bit1 ^ bit2)       # XOR operator

5
7
-6
-8
1
20
2

### Assignment Operator

In [21]:
marks = 50

marks += 10
print (marks)

marks -= 5
print (marks)

marks *= 5
print (marks)

marks /= 2
print (marks)

marks **= 1
print (marks)

marks %= 20
print (marks)

marks //= 2
print (marks)

60
55
275
137.5
137.5
17.5
8.0

### Membership Operator

In [25]:
# in and not in

list1 = [3, 'g', 'p', 4, 5, 44]

print (50 in list1)

print ('g' not in list1)

print ('p' in list1)

False
False
True

In [29]:
set1 = {10, 20, 30, 20}

set2 = {10, 20, 30}

print (20 in set1)

print (10 in set2)

True
True

In [35]:
dict1 = {'Gaurav': '14/09/1989', 'sharuti': '25/10/1989', 'Prayank': '01/07/2019', 'meenu': '22/02/1992'}

print ('Gaurav' in dict1)

print ('14/09/1989' in dict1)

print ('batra' not in dict1)

print ('gaurav' in dict1)

True
False
True
False

In [36]:
tup1 =(2, 4, 'a', 5, 'b')

print ('a' in tup1)

print ('g' not in tup1)

print (6 in tup1)

True
True
False

### Identity Operator

In [26]:
int3 = 30
int4 = 40

print (int3 is int4)

print (int3 is not int4)

False
True

In [27]:
list3 = [3, 4, 6]

list4 = [3, 4, 6]

print (list3 is list4)

print (list3 is not list4)

False
True

In [28]:
stg1 = 'prayank'
stg2 = 'prayank'

print (stg1 is stg2)
print (stg1 is not stg2)

True
False

In [32]:
set1 = {10, 20, 30, 20}

set2 = {10, 20, 30, 20}

print (set1 is set2)

print (set1 is not set2)

False
True

In [37]:
tup1 =(2, 4, 'a', 5, 'b')

tup2 =(2, 4, 'a', 5, 'b')

print (tup1 is tup2)

print (tup1 is not tup2)

False
True

### if-elif- else statement

In [41]:
Student_marks = 35

if Student_marks >= 80:
    Result = "Congrats! Student got Ist Division."

elif (Student_marks >= 60) and (Student_marks < 80):
        Result = "Good! Student got Second Division."

elif (Student_marks >= 40) and (Student_marks < 60):
    Result = "Student passed with average marks."

else:
    Result = "Student got Failed."
    
print ("The Result of student : {}". format(Result))

The Result of student : Student got Failed.

In [51]:
# if statement

marks = 60
if marks >= 50:
    print ("Inside if block")
print ("outside if block")

Inside if block
outside if block

### Calculation of a FACTORIAL Number

In [97]:
userinput = input ("Enter a non-zero number: ")
number = int(userinput)

if number <= 0:
    print ("invalid number")
    userinput = input ("Enter a non-zero number: ")
    number = int(userinput)
else: 
    print ("Thank you!!! Let me share result with you")

fact = 1
if number > 0:
    while number > 0:
        fact *= number         
        number -= 1
print ("Factorical of given input number is:", fact)

Enter a non-zero number: 5
Thank you!!! Let me share result with you
Factorical of given input number is: 120

In [101]:
# sum of numbers in list using while loop

list1 = [2, 4, 5, 6, 7]

sum = 0
index = 0
while index < len(list1):
    sum += list1 [index]
    index += 1 
    
print ("sum of mylist : {}".format (sum))

sum of mylist : 24

In [103]:
# Iterating list using while loop

list1 = [2, 4, 5, 6, 7]

index = 0
while index < len(list1):
    print (list1 [index])
    index += 1
print ("Iteration Completed")

2
4
5
6
7
Iteration Completed

In [104]:
# sum of numbers in list using FOR loop

c

sum = 0
for element in list1:
    sum += element 

print ("sum of array: {}".format(sum))

sum of array: 24

In [106]:
# Range() function n it is also defined as range (start, stop, step_size)

for element in range (0, 101, 10):
    print (element)

0
10
20
30
40
50
60
70
80
90
100

In [107]:
for element in range (10):
    print (element)

0
1
2
3
4
5
6
7
8
9

In [108]:
list1 = [2, 4, 5, 6, "gaurav", 7]
for element in list1:
    print (element)

2
4
5
6
gaurav
7

In [109]:
# for loop with else

list1 = [2, 4, 5, 6, "gaurav", 7]
for element in list1:
    print (element)
else:
    print ("iteration completed")

2
4
5
6
gaurav
7
iteration completed

In [117]:
# for loop with else and break statement

names = ['prayank', 'gaurav', 'shruti', 'meenu']

for name in names:
    print (name)
    if name == 'shruti':
        break
else:
    print ("iteration completed")
    
print ("Came out of for else block after break statement")

prayank
gaurav
shruti
Came out of for else block after break statement

### Program to calculate Divisors of number

In [121]:
inpnum = input ("Enter a non-zero positive number : ")
number = int (inpnum)
listofdivisors = [1]


for divisors in range(2, int(number/2)+1) :        #divisor = 2, 3, 4, 5, 6, 7 etc.
    if (number%divisors == 0):
        listofdivisors.append(divisors)
else:
    print (listofdivisors)

Enter a non-zero positive number : 100
[1, 2, 4, 5, 10, 20, 25, 50]

### Use of break and continue statement

In [126]:
# use of break 

names = c

for name in names:
    
    if name == 'neelam':
        break
    print (name)
else:
    print ("iteration completed")
    
print ("Came out of for else block after break statement")


# if name will not be there then loop will be completed and break will be exit.

prayank
gaurav
shruti
meenu
iteration completed
Came out of for else block after break statement

In [125]:
# use of continue

names = ['prayank', 'gaurav', 'shruti', 'meenu']

for name in names:
    
    if name == 'gaurav':
        continue
    print (name)
else:
    print ("iteration completed")
    
print ("Came out of for else block after break statement")

#as after using continue, it skipped the name "gaurav"

prayank
shruti
meenu
iteration completed
Came out of for else block after break statement

### Example : first 3 divisors of a number execpt 2 & 3

In [132]:
inpnum = input ("Enter a non-zero positive number : ")
number = int (inpnum)
listofdivisors = [1]

for divisors in range(2, int(number/2)+1) :        #divisor = 2, 3, 4, 5, 6, 7 etc.
    if (number%divisors == 0):
        if divisors in [2, 3]:
            continue
        elif len(listofdivisors) == 3:
            break
        listofdivisors.append(divisors)
print (listofdivisors)

Enter a non-zero positive number : 48
[1, 4, 6]

# Lists

In [133]:
blank_list = []                

list_of_strings = ['prayank', 'gaurav', 'shruti', 'meenu']

list_of_nums = [2, 4, 5, 8]

list_of_lists = [[2, 4, 5], [4, 5], [3, 4.5, 'gaurav']]

mixed_data_list = [2, 3, 4.5, 'gaurav', 4.9]

print (blank_list)

print (list_of_strings)

print (list_of_nums)

print (list_of_lists)

print (mixed_data_list)

[]
['prayank', 'gaurav', 'shruti', 'meenu']
[2, 4, 5, 8]
[[2, 4, 5], [4, 5], [3, 4.5, 'gaurav']]
[2, 3, 4.5, 'gaurav', 4.9]

In [134]:
# finding length of list

print (len(blank_list))

print (len(list_of_strings))

print (len(list_of_nums))

print (len(list_of_lists))

print (len(mixed_data_list))

0
4
4
3
5

In [135]:
#add an element by using append, that will add in end of list

mixed_data_list.append('shruti')

print (mixed_data_list)

[2, 3, 4.5, 'gaurav', 4.9, 'shruti']

In [136]:
# inserting an element

mixed_data_list.insert (3, 'prayank')

print (mixed_data_list)

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

In [141]:
# extend function

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

mixed_data_list.extend(list_of_lists)

print (mixed_data_list)

print (len(mixed_data_list))

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti', [2, 4, 5], [4, 5], [3, 4.5, 'gaurav']]
10

In [142]:
# append function

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

mixed_data_list.append(list_of_lists)

print (mixed_data_list)

print (len(mixed_data_list))

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti', [[2, 4, 5], [4, 5], [3, 4.5, 'gaurav']]]
8

In [144]:
# deletion of element

del mixed_data_list[7]

print (mixed_data_list)

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

In [145]:
# deletion by using slicing

del mixed_data_list[3:5]

print(mixed_data_list)

[2, 3, 4.5, 4.9, 'shruti']

In [146]:
# pop function

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

mixed_data_list.pop(2)

print (mixed_data_list)

[2, 3, 'prayank', 'gaurav', 4.9, 'shruti']

In [147]:
mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

mixed_data_list.remove(4.5)

print (mixed_data_list)

[2, 3, 'prayank', 'gaurav', 4.9, 'shruti']

In [149]:
mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

if 4 not in mixed_data_list:
    print ("not found in list")
    
if 'prayank' in mixed_data_list:
    print ("found in list")

not found in list
found in list

In [150]:
mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

mixed_data_list.reverse()

print (mixed_data_list)

['shruti', 4.9, 'gaurav', 'prayank', 4.5, 3, 2]

In [151]:
# Sort function

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

sorted_list = sorted (mixed_data_list)

print (sorted_list)     

# as this sort function doesn't work on string as string doesn't understand ascending/ descending order

TypeError: '<' not supported between instances of 'str' and 'float'

In [152]:
list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

sorted_list = sorted (list_of_nums)

print (sorted_list)          # sorting list in ascending order

print (list_of_nums)         # original list will not be changed even after using sort function.

[2, 3.5, 4, 4.5, 5, 12.5]
[2, 4, 5, 3.5, 12.5, 4.5]

In [153]:
list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

print ("Reverse sorted list :", sorted (list_of_nums, reverse = True))          # sorting list in discending order

print (list_of_nums)         # original list will not be changed even after using sort function.

Reverse sorted list : [12.5, 5, 4.5, 4, 3.5, 2]
[2, 4, 5, 3.5, 12.5, 4.5]

In [155]:
list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

list_of_nums.sort()

print (list_of_nums)

print ("Reverse sorted list :", sorted (list_of_nums, reverse = True))

[2, 3.5, 4, 4.5, 5, 12.5]
Reverse sorted list : [12.5, 5, 4.5, 4, 3.5, 2]

In [157]:
# multiple references to list

list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

myref = list_of_nums

myref.append(8)

print ('original list:', myref)       # adding new element to referred list

original list: [2, 4, 5, 3.5, 12.5, 4.5, 8]

In [161]:
# split string to create list

mystring = 'gaurav,shruti,prayank'
split_string = mystring.split(',')

print (split_string)

['gaurav', 'shruti', 'prayank']

In [162]:
mystring = 'gaurav shruti prayank'
split_string = mystring.split()

print (split_string)       # spaces will automatically splited by commas.

['gaurav', 'shruti', 'prayank']

In [164]:
mystring = 'gauravshrutiprayank'
split_string = mystring.split()          

print (split_string)

['gauravshrutiprayank']

In [2]:
# List indexing

# pop function

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

print (mixed_data_list[2])         # for getting an element, use indexing by checking its position which starts from zero.

print (mixed_data_list[-1])     # for getting last element, use negative indexing

4.5
shruti

In [8]:
# Slicing 

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

print (mixed_data_list[:])        # start : end if nothing is mentioned then all elements will print

print (mixed_data_list[0:3])      # if start from 0 then end position will be one position before its mentioned element

print (mixed_data_list[1:5])      # start from ist position then 5th element will be exclusive.

print (mixed_data_list[1:-1])       # negative slicing for starting from reverse

print (mixed_data_list[-1:])

print (mixed_data_list[-4:-1])

print (mixed_data_list[::2])           # for skipping one element from list

print (mixed_data_list[1:6:2])       # starting from ist element, will go upto 6th element with skipping one-one element

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']
[2, 3, 4.5]
[3, 4.5, 'prayank', 'gaurav']
[3, 4.5, 'prayank', 'gaurav', 4.9]
['shruti']
['prayank', 'gaurav', 4.9]
[2, 4.5, 'gaurav', 'shruti']
[3, 'prayank', 4.9]

In [9]:
# extend to a list using "+" sign

mixed_data_list = [2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti']

list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

print (mixed_data_list + list_of_nums)

[2, 3, 4.5, 'prayank', 'gaurav', 4.9, 'shruti', 2, 4, 5, 3.5, 12.5, 4.5]

In [10]:
# count of an item in a list

list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5, 4, 3, 4]

print (list_of_nums.count(3))

print (list_of_nums.count(4))

# count of particular element

1
3

In [12]:
# looping in a list

list_of_nums = [2, 4, 5, 3.5, 12.5, 4.5]

for element in list_of_nums:
    print (element)

2
4
5
3.5
12.5
4.5

In [16]:
# List Comprehensions

emptylist = []

for i in range(4):
    emptylist.append(i)

print (emptylist)

[0, 1, 2, 3]

In [17]:
emptylist = []

for i in range(4):
    emptylist.append(i**3)

print (emptylist)

[0, 1, 8, 27]

In [20]:
# simplifying above method using list compreshension

emptylist = [i**3 for i in range(5)]

print (emptylist)

[0, 1, 8, 27, 64]

In [30]:
# Nested list compreshension

nested_list = []

[nested_list.append([j for j in range(3)]) for i in range(4)]

print (nested_list)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [31]:
# representing odd value(1 to 9) matrix using nested list comprehensions

nested_list = []

[nested_list.append([j for j in range(1,9,2)]) for i in range(4)]

print (nested_list)

[[1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7]]

In [33]:
# representing square of all odd value (1 to 9) matrix using nested list comprehensions

nested_list = []

[nested_list.append([j**2 for j in range(1,9,2)]) for i in range(4)]

print (nested_list)

[[1, 9, 25, 49], [1, 9, 25, 49], [1, 9, 25, 49], [1, 9, 25, 49]]

In [49]:
# Exercise : perform below list operations

# square list of mylist and store in new list

mylist = [1, 2, 3, 4, 5, 6, 8]

newlist = [i**2 for i in mylist]

print (newlist)

[1, 4, 9, 16, 25, 36, 64]

In [50]:
# make a combination of x and x values (x, x)

mylist = [1, 2, 3, 4, 5, 6, 8]

newlist = [(i, i) for i in mylist]

print (newlist)

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (8, 8)]

In [57]:
# store only even numbers greater than 2

mylist = [1, 2, 3, 4, 5, 6, 8]

newlist = [i for i in mylist if i%2 == 0 and i != 2]

print (newlist)

[4, 6, 8]

In [71]:
# create a 3*3 matrix that stores half of number from 1 to 9

matrix = []

[matrix.append([(i+j)/2 for j in range(0, 3)]) for i in range(1, 10, 3)]

print (matrix)

[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

In [73]:
list1 = ['gaurav']
print (type(list1))

<class 'list'>

# TUPLES

In [72]:
empty_typle = ()                            # empty tuple representation
print (empty_typle)

int_tuple = (3, 5, 9, 2)                    # tuples with integers
print (int_tuple)

mixed_tuple = ('x', 4, 'y', 6, 9, 4.5)      # mixed datatypes tuples
print (mixed_tuple)

mixed_data = (2, 3, 'x', [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 5)           # nested tuple
print (mixed_data)

()
(3, 5, 9, 2)
('x', 4, 'y', 6, 9, 4.5)
(2, 3, 'x', [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 5)

In [75]:
# parenthesis is not enough in case of tuple as it will known as string

tuple1 = ('gaurav')
print (type(tuple1))

<class 'str'>

In [76]:
# for this, we will have to put comma after string in enclosed parenthesis

tuple1 = ('gaurav',)
print (type(tuple1))

<class 'tuple'>

In [77]:
# for this, we will have to put comma after string in enclosed parenthesis or even parenthesis is optional but comma is necessary

tuple1 = 'gaurav',
print (type(tuple1))

<class 'tuple'>

In [80]:
# accessing elements in tuple

mixed_data = (2, 3, 'x', [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 5)

print (mixed_data [2])        # for getting 2nd element

print (mixed_data [4][1])     # for getting element in nested tuple

print (mixed_data [-4][-2])    # negative indexing

x
z
5.5

In [81]:
# altering in tuple as we can do changes in list nested in tuple because these are mutuable but id for tuple didn't get changed

mixed_data = (2, 3, 'x', [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 5)

print (id(mixed_data))

mixed_data [3][2] = 'batra'

print (mixed_data)

print (id (mixed_data))

2240236771328
(2, 3, 'x', [3, 4, 'batra', 'x'], (1, 'z', 4.5), 4.5, 5)
2240236771328

In [82]:
#Deletion of tuple as due to immutable nature, single element can't be deleted but whole tuple will be deleted

mixed_data = (2, 3, 'x', [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 5) 

del mixed_data

print(mixed_data)

NameError: name 'mixed_data' is not defined

In [86]:
# Count occurrances of element in tuple

mixed_data = (2, 3, 'x', 5, [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 'x', 5) 

print (mixed_data.count(4.5))

print (mixed_data.count(5))

print (mixed_data.count('x'))

1
2
2

In [93]:
# get index position in a tuple & vice-versa

mixed_data = (2, 3, 'x', 5, [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 'x', 5)

print (mixed_data.index(4.5))

print (mixed_data[4][3])

6
x

In [95]:
# Membership operator (in and not in) tuple

mixed_data = (2, 3, 'x', 5.5, [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 'x', 5)

print (5.5 in mixed_data)

print ('y' not in mixed_data)

print ('gaurav' in mixed_data)

True
True
False

In [101]:
# apply common built in function in tuple

mixed_data = (2, 3, 'x', 5.5, [3, 4, 5.5, 'x'], (1, 'z', 4.5), 4.5, 'x', 5)

# for checking length of tuple

print (len(mixed_data))

# sorting n tuple : mixed data type can't be sorted as ascending and descending can't be defined

int_tuple = (4, 3, 89, 45, 65)

sorted_tuple = sorted(int_tuple)

print (sorted_tuple)

print (int_tuple)

print ("Reverse sorted tuple :", sorted (int_tuple, reverse = True))

9
[3, 4, 45, 65, 89]
(4, 3, 89, 45, 65)
Reverse sorted tuple : [89, 65, 45, 4, 3]

In [103]:
int_tuple = (4, 3, 89, 45, 65)

print (max(int_tuple))      # find largest element

print (min(int_tuple))      # find smallest element

print (sum(int_tuple))      # find sum of all elements

89
3
206

# SETS

In [105]:
set1 = {10, 20, 30, 10, 50}

print (set1)             # duplicates are not allowed
 
print (type(set1))       # type of set

{10, 20, 50, 30}
<class 'set'>

In [106]:
# make set by using list with SET method

set2 = set([3, 5, 3, 9, 30, 20])

print (set2)

{3, 5, 9, 20, 30}

In [108]:
set3 = set()

print (set3)

print (type(set3))

set()
<class 'set'>

In [109]:
# adding an element in sets by add() method

set1 = {10, 20, 30, 10, 50}

set1.add(60)

print (set1)

{10, 50, 20, 60, 30}

In [113]:
# adding an element in sets by update() method  and added list & set 

set1 = {10, 20, 30, 10, 50}

set1.update([60, 70, 5, 90],{2, 4, 3})

print (set1)

{2, 3, 4, 5, 70, 10, 50, 20, 90, 60, 30}

In [114]:
# Removal of element by using different methods

# remove() method will remove particular element from set

set1 = {2, 3, 4, 5, 70, 10, 50, 20, 90, 60, 30}

set1.remove(10)

print (set1)

{2, 3, 4, 5, 70, 50, 20, 90, 60, 30}

In [115]:
# by using pop() method, it will remove one by one all elements.

set1 = {2, 3, 4, 5, 70, 50, 20, 90, 60, 30}

set1.pop()

print (set1)

{3, 4, 5, 70, 50, 20, 90, 60, 30}

In [116]:
set1.pop()

print (set1)

{4, 5, 70, 50, 20, 90, 60, 30}

In [117]:
# discard() method will not give any error if element will not be there in set

set1.discard(50)

set1.discard(20)

set1.discard(100)         # as 100 wasn't there in set but still it got executed without any error

print (set1)

{4, 5, 70, 90, 60, 30}

In [118]:
# clear() method will be used to delete set but empty will be there in memory space.

set1 = {4, 5, 70, 90, 60, 30}

set1.clear()

print (set1)

set()



### Python set operations

In [119]:
# UNION method

set1 = {4, 5, 7, 9, 11, 13, 15}

set2 = {7, 9, 5}

print (set1 | set2)                   # using union symbol

print (set1.union(set2))              # using union method

{4, 5, 7, 9, 11, 13, 15}
{4, 5, 7, 9, 11, 13, 15}

In [120]:
# Intersection method

set1 = {4, 5, 7, 9, 11, 13, 15}

set2 = {7, 9, 5}

print (set1 & set2)                   # using Intersection symbol

print (set1.intersection(set2))              # using Intersection method

{9, 5, 7}
{9, 5, 7}

In [131]:
# Difference method

set1 = {4, 5, 7, 9, 11, 13, 15}

set2 = {7, 9, 5}

print (set1 - set2)                   # using Difference symbol

print (set1.difference(set2))              # using Difference method

{11, 4, 13, 15}
{11, 4, 13, 15}

In [130]:
# Symmetric Difference method

set1 = {4, 5, 7, 9, 11, 13, 15}

set2 = {7, 9, 5}

print (set1 ^ set2)                   # using Symmetric Difference symbol

print (set1.symmetric_difference(set2))              # using Symmetric Difference method

{4, 11, 13, 15}
{4, 11, 13, 15}

In [123]:
# SUBSETS

set1 = {4, 5, 7, 9, 11, 13, 15}

set2 = {7, 9, 5}

print (set1.issubset(set2))                  

print (set2.issubset(set1))               # using issubset method

False
True

In [124]:
# FROZEN SETS :- immutuable in nature

set1 = frozenset([2, 4, 6, 8, 3, 5, 10])

set2 = frozenset([1, 3, 5, 6, 8, 7, 9])

print (set1 | set2)                   # using union symbol

print (set1.union(set2))              # using union methodv

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [125]:
print (set1 & set2)                   # using Intersection symbol

print (set1.intersection(set2))              # using Intersection method

frozenset({8, 3, 5, 6})
frozenset({8, 3, 5, 6})

In [126]:
print (set1 - set2)                   # using Difference symbol

print (set1.difference(set2))              # using Difference method

frozenset({2, 10, 4})
frozenset({2, 10, 4})

In [127]:
print (set1 ^ set2)                   # using Symmetric Difference symbol

print (set1.symmetric_difference(set2))              # using Symmetric Difference method

frozenset({1, 2, 4, 7, 9, 10})
frozenset({1, 2, 4, 7, 9, 10})

In [128]:
print (set1.issubset(set2))                  

print (set2.issubset(set1))               # using issubset method

False
False

In [129]:
print (set1.isdisjoint(set2))                  

print (set2.isdisjoint(set1))               # using issubset method

False
False

## Dictionary

In [132]:
dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

print (dict1)

{'gaurav': 1989, 'shruti': 1989, 'meenu': 1993, 'prayank': 2019}

In [135]:
emptydict = { }

print (emptydict)

print (type(emptydict))

{}
<class 'dict'>

In [139]:
# create dict with list of tuples and dict() method

dict2 = dict([('gaurav', 9), ('shruti', 10), ('prayank', 7), ('meenu', 2)])

print (dict2)

{'gaurav': 9, 'shruti': 10, 'prayank': 7, 'meenu': 2}

In [140]:
# mixed datatype dictionary

dict3 = {14 : 'gaurav', '25' : ['shruti', 'nikhil']}

print (dict3)

{14: 'gaurav', '25': ['shruti', 'nikhil']}

In [141]:
# Dictionary access

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

print (dict1['meenu'])

1993

In [144]:
# Dict access by using get() method

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict1.get('meenu')

1993

In [145]:
# if we will find unavailable key then it will give key error

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

print (dict1['nikhil'])

KeyError: 'nikhil'

In [146]:
# if we will find it from get() method then it will not show any error whereas o/p will come as "NONE"

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

print (dict1.get('nikhil'))

None

In [149]:
# Addition of new key:value pair

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict1['nikhil'] = 1992

print (dict1)

{'gaurav': 1989, 'shruti': 1989, 'meenu': 1993, 'prayank': 2019, 'nikhil': 1992}

In [150]:
# modification in exiiting key value pair

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict1['shruti'] = 1988

print (dict1)

{'gaurav': 1989, 'shruti': 1988, 'meenu': 1993, 'prayank': 2019}

In [151]:
# Delete/ remove methods 

# By using pop() method

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict1.pop('shruti')

print (dict1)

{'gaurav': 1989, 'meenu': 1993, 'prayank': 2019}

In [154]:
# by using del method

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

del dict1['shruti']

print (dict1)

{'gaurav': 1989, 'meenu': 1993, 'prayank': 2019}

In [155]:
# by using clear () method, empty dict will be there in memory space.

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict1.clear()

print (dict1)

{}

In [156]:
# deletion of dict by using del method

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

del dict1

print (dict1)

NameError: name 'dict1' is not defined

In [158]:
# Dictionary methods

# Copy same existing dict data to new dict

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

dict2 = dict1.copy()

print (dict2)

{'gaurav': 1989, 'shruti': 1989, 'meenu': 1993, 'prayank': 2019}

In [159]:
dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

print(dict1.keys())          # return keys of dictionary

print(dict1.values())        # return values of dictionary

dict_keys(['gaurav', 'shruti', 'meenu', 'prayank'])
dict_values([1989, 1989, 1993, 2019])

In [160]:
# if we want to assign same value to all keys and formkey sequence method is there.

dict4 = {}.fromkeys(['gaurav', 'shruti', 'saurav'], 1989)

print (dict4)

{'gaurav': 1989, 'shruti': 1989, 'saurav': 1989}

In [161]:
# items() method is for giving new view to dictionary (key, value)

dict5 = {9:1989, 10:1989, 11:1992, 2:1993}
print (dict5.items())

dict_items([(9, 1989), (10, 1989), (11, 1992), (2, 1993)])

In [162]:
# all methods and attributes of dictionary

dict = {}

print (dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Comprehensions in Dictionary

In [165]:
# iterate dict same as list comprehensions

dict1 = {'gaurav' : 1989, 'shruti' : 1989, 'meenu' : 1993, 'prayank' : 2019}

for dictionary in dict1.items():
    print (dictionary)

('gaurav', 1989)
('shruti', 1989)
('meenu', 1993)
('prayank', 2019)

In [169]:
# create dict with having odd values 

dict1 = {'gaurav' : 1989, 'shruti' : 1988, 'meenu' : 1993, 'prayank' : 2019}

odd_value_dict = {k:v for k,v in dict1.items() if v%2 != 0}
 
print (odd_value_dict)

{'gaurav': 1989, 'meenu': 1993, 'prayank': 2019}

In [170]:
# perform opertions on key values pair

dict1 = {'gaurav' : 1989, 'shruti' : 1988, 'meenu' : 1993, 'prayank' : 2019}

odd_value_dict = {k + 'batra' : v+1  for k,v in dict1.items() if v%2 != 0}
 
print (odd_value_dict)

{'gauravbatra': 1990, 'meenubatra': 1994, 'prayankbatra': 2020}

# Strings

In [1]:
# in strings, basically we use single/ double strings and triple qotes will be used for comments/ docstings.

single_string = 'gaurav'
print (single_string)

double_string = "batra"
print (double_string)

triple_string = '''triple'''
print (triple_string)

gaurav
batra
triple

In [8]:
# Access Characters in string

access_string = "gaurav batra"

print (access_string[4])           # access 4th character by using index method and start index will be "0"

print (access_string[-3])          # access by negative indexing

a
t

In [7]:
# slicing method

access_string = "gaurav batra"

print (access_string[1:8])             # access by positive slicing 

print (access_string[-4:-1])           # access by negative slicing

aurav b
atr

In [9]:
# indexing errors

print (access_string[17])                     # indexing out of range

IndexError: string index out of range

In [10]:
print (access_string[1.7])                     # floating point indexing

TypeError: string indices must be integers

In [11]:
# Change or delete of strings.

# as we can't do changes/ modifications in strings because strings are immutable in nature.

access_string = "gaurav batra"

access_string[4] = 'b'

print (access_string)

TypeError: 'str' object does not support item assignment

In [12]:
# we assign same string to different variable.

name_string ='gaurbv batra'

print (name_string)

gaurbv batra

In [13]:
# whereas ID's will be different for both strings because string got changed due to change in one character itself.

print (id(access_string))

print (id(name_string))

2655169523056
2655167956336

In [14]:
# deletion of complete string

del name_string

print (name_string)

NameError: name 'name_string' is not defined

In [21]:
# String operations

# 1. Concatenation

# "+" is used for joining of two strings

# "*" is used for repeating the same strings as its defined.

f_name ='prayank '
l_name = 'batra '
name = f_name  +  l_name
print (name)

print (name * 2)

prayank batra
prayank batra prayank batra

In [28]:
# for counting characters in a string

charcount = 0
for character in name:
    if character == 'a':
        charcount += 1
print ("character count of 'a' in string :", charcount)

character count of 'a' in string : 4

In [30]:
# string membership test

name = 'prayank batra'

print ('r' in name)

print ('g' in name)

print ('a' not in name)

True
False
False

In [32]:
# Strings methods

name = 'prayank batra'

print (name.lower())               # for changing it into lower alphabets

print (name.upper())               # for changing it into upper alphabets

prayank batra
PRAYANK BATRA

In [33]:
string1 = 'strings are immutable in nature.'

print (string1.split())                             # for spliting the string

['strings', 'are', 'immutable', 'in', 'nature.']

In [39]:
' '.join(['strings', 'are', 'immutable', 'in', 'nature.'])                  # for making string by joining words

'strings are immutable in nature.'

In [41]:
name.find('a')                     # for finding any element in string

2

In [42]:
name = 'prayank batra'               # for replacing any word

name1 = name.replace("batra", "khatra")

print (name)

print (name1)

prayank batra
prayank khatra

# Python program to check where string is palindrome or not?

In [44]:
# Exercise : 1 --> for reverse a word

originalword = "gaurav"

reverseword = ' '

for character in originalword:
    reverseword = character + reverseword

print (reverseword)

varuag

In [45]:
# Exercise : 2 --> check if word is palindrome or not?

originalword = originalword.lower()
reverseword = reverseword.lower()

if originalword == reverseword :
    print ("Given string is a palindrome")
else:
    print ("Given string is not a palindrome")

Given string is not a palindrome

In [60]:
# Exercise : 3 --> sort sentences in reverse alphabetical order

mystring = "This is how reverse string works"

breakdown_string = mystring.split()                # breakdown string in list of words.
  
breakdown_string.sort(reverse = True)               # reverse sort this list

rev_string = ' '

for word in breakdown_string:
    rev_string += word + ' '

print (rev_string)

 works string reverse is how This

# FUNCTIONS

In [64]:
def gaurav_batra(var):                   # Defining function and calling function by var
    """
    This function will print the name.
    """
    print ("gaurav "+ str(var))

In [66]:
gaurav_batra ('batra')                    # pass var "batra" to function for calling the function here.

gaurav batra

In [67]:
print (gaurav_batra.__doc__)             # Docstring of above defined function gaurav_batra

    This function will print the name.

In [70]:
# Define of function for multiplication of numbers

def multiplicationofnums (numbers):
    """
    This function will do multiplication of all numbers.
    """
    multi_var = 1
    for number in numbers:
        multi_var *= number
    return multi_var

In [71]:
# calling above function for performing operation

multi_num = multiplicationofnums ([2, 6, 7, 2])

print(multi_num)

168

In [72]:
print (multiplicationofnums.__doc__)                      # print docsting for above defined function

    This function will do multiplication of all numbers.

In [75]:
# Define scope and lifetime of global and local variable

glo_var = "I will be global variable"

def checklifetime():
    """
    Function to test lifetime of variables.
    """
    loc_var = "I will have to be there as Local variable"
    
    print ("Inside the function block :", loc_var)          # prints local variable
    
    print ("Inside the function block :", glo_var)          # prints global variable
    
checklifetime()                                             # call function here to check global variable

print ("outside the function block :", glo_var)             # as global variable in scope so it will print outside block   

print ("outside the function block :", loc_var)            # local variable is not in scope of outside block

Inside the function block : I will have to be there as Local variable
Inside the function block : I will be global variable
outside the function block : I will be global variable

NameError: name 'loc_var' is not defined

### Python function to print factorial of a number

In [85]:
def factorial(num):
    """
    This function will give factorial of a number
    """
    fact_num = 1
    while (num > 0):
        fact_num *= num
        num -= 1
    return fact_num   

number = 5
print ("Factorial of {} is : {}".format(number, factorial(number)))

Factorial of 5 is : 120

## Types of Functions

### Built in Functions

In [86]:
# abs() :- for getting absolute value

num = -10.5

print (abs(num))

10.5

In [88]:
# all() :- all() returns as True except 0, none and false

set1 = {10, 20, 30, 0}

print(all(set1))

False

In [90]:
list1 = [10, 20, 30]

print(all(list1))

True

In [91]:
tuple1 = (10, 20, 30, 'false')

print(all(tuple1))                     # if false is taken as string then it will come as True

True

In [93]:
emptylist = []

print (all(emptylist))

True

In [94]:
tuple1 = (False, 1, 5, 10)               # if false is taken as boolean value then it will come as False

print (all(tuple1))

False

In [95]:
# dir() method :- list of valid attributes

list1 = [2, 4, 5]
print (dir(list1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [96]:
# divmod() method

print (divmod(14,3))                 # it will give quotient and reminder in output

(4, 2)

In [102]:
# enumerate() method :- we cna define indexing.

list1 = [10, 20, 30, 50]

for index, num in enumerate(list1, 21):
    print ("Index {0} as value {1}". format(index, num))

Index 21 as value 10
Index 22 as value 20
Index 23 as value 30
Index 24 as value 50

In [103]:
# filter() method :- filter(function, iterable)

def odd_numbers (num):
    """
    this function will give all odd values.
    """
    
    if num%2 != 0:
        return num

numbers = range(30)
oddnum = list(filter(odd_numbers, numbers))
print (oddnum)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [106]:
# isinstance() method :- isinstance(object, classinfo)

#for getting correct info about defined object and its class

set1 = {'a', 11, 23, 'b'}
print (isinstance(set1, set))

True

In [111]:
dict1 = {'a':10, 'b' : 20, 'c':30}
print (isinstance(dict1, dict))

print (isinstance(dict1, list))

True
False

In [113]:
# map() method :- map(function_to_apply, list_of_input)

list1 = [10, 20, 30, 50]

half = []

for num in list1:
    
    half.append(num/2)
    
print (half)

[5.0, 10.0, 15.0, 25.0]

In [114]:
# now we will get the same result as give above by using map() method

def halfofnum (num):
    return (num/2)

print (list(map(halfofnum, list1)))

[5.0, 10.0, 15.0, 25.0]

In [116]:
# regluar way of programming

list1 = [10, 20, 30, 50]

sum_list1 = 0

for num in list1:
    sum_list1 += num
    
print (sum_list1)  

# now we will do the same by using reduce() method :-

110

In [117]:
# reduce() method :-

from functools import reduce

def addofnums (a, b):
    return a+b

sum_list1 = reduce(addofnums, list1)
print (sum_list1)

110

###  User-Defined functions

In [122]:
def addofnums(a, b):
    """
    this function will return sum of two numbers.
    """
    sum_num = a + b
    return sum_num

a = 10
b = 5

print ("Sum of {0} and {1} is {2}".format (a, b, addofnums(a , b)))

Sum of 10 and 5 is 15

### Python program of Making of a calculator

In [127]:
def add (x,y) :
    """
    this function will give addition.
    """
    return x + y

def substract (x,y) :
    """
    this function will give substraction.
    """
    return x - y

def mutiply (x,y) :
    """
    this function will give Multiplication.
    """
    return x * y

def division (x,y) :
    """
    this function will give Division.
    """
    return x / y

def Exponent (x,y) :
    """
    this function will give Exponential.
    """
    return x ** y

print ("Select an option")
print ("1. Addition")
print ("2. Substraction")
print ("3. Multiplication")
print ("4. Division")
print ("5. Exponential")

choice = int(input("Enter your Choice from 1-5 : "))

num1 = float (input ("Enter Ist num : "))
num2 = float (input ("Enter 2nd num : "))

if choice == 1:
    print ("Addition of {0} and {1} : {2} " .format(num1, num2, add(num1, num2)))
elif choice == 2:
    print ("Substraction of {0} and {1} : {2} " .format(num1, num2, substract(num1, num2)))
elif choice == 3:
    print ("Multiplication of {0} and {1} : {2} " .format(num1, num2, multiply(num1, num2)))
elif choice == 4:
    print ("Division of {0} and {1} : {2} " .format(num1, num2, division(num1, num2)))
elif choice == 5:
    print ("Exponential of {0} and {1} : {2} " .format(num1, num2, Exponent(num1, num2)))
else:
    print ("Invalid Choice so kindly enter from 1-5 for getting require result.")

Select an option
1. Addition
2. Substraction
3. Multiplication
4. Division
5. Exponential
Enter your Choice from 1-5 : 5
Enter Ist num : 3
Enter 2nd num : 5
Exponential of 3.0 and 5.0 : 243.0

# Arguments in Functions

In [128]:
def hello (name, msg):
    """
    This function will print a message for a person.
    """
    print ("Hello! {0} {1}".format(name, msg))
    
hello ("gaurav", "left Unilever and wants to join good organization")             # pass arguments to the function

Hello! gaurav left Unilever and wants to join good organization

## Default Arguments

In [130]:
# provision to pass default value to an argument by using assignment operator (=)

def hello (name, msg = "worked in Unilever very dedicately but didn't find any growth"):
    """
    This function welcomes user with default message if message is not passed
    while calling funciton.
    """
    print ("Hello! {0} {1}".format(name, msg))
    
hello ("gaurav", "left Unilever and wants to join good organization")             # pass arguments to the function

Hello! gaurav left Unilever and wants to join good organization

In [131]:
# without passing messgae argument then it will pick msg passed to function

hello ("gaurav")

Hello! gaurav worked in Unilever very dedicately but didn't find any growth

In [132]:
def hello (msg = "worked in Unilever very dedicately but didn't find any growth", name):
    """
    This function welcomes user with default message if message is not passed
    while calling funciton.
    """
    print ("Hello! {0} {1}".format(name, msg))
    
hello ("gaurav", "left Unilever and wants to join good organization")             # pass arguments to the function

# prints syntax error because on right side, it should have arguments too.

SyntaxError: non-default argument follows default argument (<ipython-input-132-1e6e9e3cfd8c>, line 1)

In [134]:
def hello (msg = "worked in Unilever very dedicately but didn't find any growth", name = 'shruti'):
    """
    This function welcomes user with default message if message is not passed
    while calling funciton.
    """
    print ("Hello! {0} {1}".format(name, msg))
    
hello ( )             # if we already passed both while defining function and leave blank this.

Hello! shruti worked in Unilever very dedicately but didn't find any growth

## Keyword Arguments

In [141]:
def hello (**kwargs):
    """
    This function welcomes user with provided message
    """
    if kwargs:
        print ("Hello! {0} {1}".format(kwargs['name'], kwargs['msg']))
    
hello(name = "gaurav", msg = "left Unilever and wants to join good organization")             # pass arguments to the function

Hello! gaurav left Unilever and wants to join good organization

## Arbitary Arguments

In [142]:
def hello (*info):
    """
    This function provides user info.
    """
    print (info)
    for user_info in info:
        print ("Plz find require info {0}".format(user_info))



hello ("gaurav", "lives in bharat city, GZB", "& his contact no. 8130410111", "and is looking for job", "after doing python")             # pass arguments to the function

('gaurav', 'lives in bharat city, GZB', '& his contact no. 8130410111', 'and is looking for job', 'after doing python')
Plz find require info gaurav
Plz find require info lives in bharat city, GZB
Plz find require info & his contact no. 8130410111
Plz find require info and is looking for job
Plz find require info after doing python

# Recursive functions

### Finding factorial of a number by using Recursive functions

In [149]:
def factorial (num):
    """
    This function is for calculating factorial by using Recursive function.
    """
    
    return 1 if num == 1 else (num*factorial (num-1))

number = 7

print ("Factorial of a {0} : {1}". format(number, factorial(number)))

Factorial of a 7 : 5040

### Finding Fibonacci Series by using Recursive functions

In [150]:
def fibonacci (num):
    """
    This function is for calculating Fibonacci Series by using Recursive function.
    """
    return num if num <= 1 else fibonacci (num - 1) + fibonacci (num - 2)

number = 7

print ("Fibonacci series is given as below:-")
for num in range(number): 
    print(fibonacci(num))

Fibonacci series is given as below:-
0
1
1
2
3
5
8

# LAMDBA or ANONYMOUS FUNCTION

In [152]:
# for getting square of a number normally

def square(num):
    return num ** 2
print(square(15))

225

In [155]:
# for getting square of a number by using LAMDBA function

square = lambda num: num ** 2

print(square(15))

225

In [159]:
# Use Lambda with filter()

list1 = range(40)

even_list = list (filter(lambda x: (x%2 == 0),list1))

print (even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [179]:
# use lambda with map()

mytuple = (2, 3, 5, 6, 7, 8)

square_list = tuple(map(lambda x:x**2, mytuple))

print (square_list)

(4, 9, 25, 36, 49, 64)

In [171]:
# use lambda with reduce()

from functools import reduce

mylist1 = [2, 3, 5, 6, 7, 8]

sumofmylist = reduce(lambda x, y : x+y, mylist1)

print (sumofmylist)

31

## Modules

In [1]:
import math 
math.factorial(7)

5040

In [3]:
math.fabs(7)                  # for getting absolute value

7.0

In [4]:
# import alias :- shortening modules name and define after "as" keyword

import math as m
m.factorial(5)

120

In [5]:
import random as rd                # this random module gives random value
rd.random()

0.5328750961481006

In [6]:
from datetime import date

print (date.today())

2020-05-13

In [13]:
import datetime

datetime.datetime.now()

datetime.datetime(2020, 5, 13, 10, 20, 59, 32914)

In [16]:
# Import all module names of math

from math import *

print (factorial(5))

120

In [20]:
print (cosh(60))

5.710036949078421e+25

In [22]:
print (dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [26]:
# Catching exceptions in data

import sys

list1 = [1, 0, 'abc', 5]

for element in list1:
    try: 
        print(element)
        inv = 1/ element
    except:
        print("Error occurred:", sys.exc_info()[0], 'occurred')
        print ('.............................................')
print ("The inverse of an", element, 'is', inv)

1
0
Error occurred: <class 'ZeroDivisionError'> occurred
.............................................
abc
Error occurred: <class 'TypeError'> occurred
.............................................
5
The inverse of an 5 is 0.2

In [33]:
# Catching Specific exceptions in data

import sys

list1 = ['abc', 0, 3]

for element in list1:
    try:
        print ('.............................................')
        print(element)
        inv = 1/ int(element)
    
    except(ValueError):
        print("This is value Error")
        
    except(ZeroDivisionError):
        print("This is ZeroDivisionError")

    except:
        print("This is General Error")
    
        
print ("The inverse of an", element, 'is', inv)

.............................................
abc
This is value Error
.............................................
0
This is ZeroDivisionError
.............................................
3
The inverse of an 3 is 0.3333333333333333

In [34]:
# Exception raised forcefully
 # by using raise keyword
    
raise KeyboardInterrupt

KeyboardInterrupt:

In [35]:
raise KeyboardInterrupt ("This is keyboard error interruption to stop it forcefully")

KeyboardInterrupt: This is keyboard error interruption to stop it forcefully

In [41]:
try:
    oddnum = int(input("Enter any add number: "))
    if oddnum % 2 == 0:
        raise ValueError("Error : Kindly provide Odd ynumber as defined in above message.")
except ValueError as e:
    print(e)

Enter any add number: 10
Error : Kindly provide Odd ynumber as defined in above message.

In [42]:
# try..finally

try:
    f = open("filenotpresent.txt")
except:
    print("Inside finally block")
    f.close()

Inside finally block

NameError: name 'f' is not defined

In [43]:
# Debugging in python : "pdb"

#understand how this function works :-

def iterateotitems(n):
    for i in range(n):
        print (i)
    return

print (iterateotitems(10))

0
1
2
3
4
5
6
7
8
9
None

In [4]:
string = "peace comes from within"

capitalized_string = string.capitalize()

print (capitalized_string)

Peace comes from within

In [ ]:
# now for debugging, we will use this funciton "pdb.set_trace()"

import pdb

def iterateotitems(n):
    for i in range(n):
        pdb.set_trace()
        print (i)
    return

print (iterateotitems(10))


"""
few popular commands of debugging is given as below :-
 C: continue
 h : help
 p :print
 q : quit
 p locals()
 p globals()
 whatis
 list

"""